@import "./breakpoints.scss";
// typographyO
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    background-color: $very-dark-blue;
}
// button reset
button {
    // display: none;
    background: none;
    border: 0;
    font-family: "Nunito Sans", sans-serif;
}

.homepage-items-text {
    font-size: 14px;
    font-weight: 300;
}


#header {
    
}
